@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["UserName"]</h1>
    <br />

    @* <form asp-action="" method="post">
        <ul>
            <label>
                <input type="checkbox" name="selectedProducts" value="HR Management System" />
                HR Management System
            </label>
            <br />
            <label>
                <input type="checkbox" name="selectedProducts" value="ERP System" />
                ERP System
            </label>

        </ul>

        <button type="submit">Submit</button>
    </form> *@
    @* 
    <button
        Register
    </button> 
    *@
</div>
